<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td></td>
        <td><span><%= user.name %></span></td>
        <td></td>
        <td>
          <%= link_to "Edit", edit_book_path, method: :get %>
        </td>
        <td>
          <%= link_to "Destroy", book_path, class: "btn btn-danger" method: :delete, "data-confirm" => "本当に消しますか？" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>