<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td><%= image_tag @book.user.get_profile_image(100,100) %></td>
        <td><span><%= user.name %></span></td>
        <td></td>
        <td>
          <%= link_to "Edit", edit_book_path, method: :get %>
        </td>
        <td>
          <% if @book.user == current_user %>
            <%= link_to "Destroy", book_path(@book), class: "btn btn-danger" method: :delete, "data-confirm" => "本当に消しますか？" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>